<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Vip_Dev" connectionString="Data Source=177.69.157.135; Initial Catalog=VIPDIRETO; User Id=vipdireto; Password=123qweASD;" />
  </connectionStrings>
  <appSettings>
    <add key="url_dev" value="http://vipdiretosite-dev.provisorio.ws"/>
    <add key="url_teste" value="http://vipdiretosite.provisorio.ws"/>
    <add key="url_Hom" value="http://site.leilaodireto.net"/>
    
    <add key="LogErro" value="C:\Log_erros\Vip_Back\Log_erros\Log.txt" />
    <add key="screenshotsPath" value="C:\Log_erros\Vip_Back\Falhas" />
    <add key="chromedriverPath" value="C:\Projetos\FluxosTestes_Vip\FluxosTestes_Vip\Fluxo_Back" />
  </appSettings>
</configuration>